<div class="col-lg-12" style="margin:70px 10px; padding:20px; ">
    <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->

    <div class="jumbotron">
        <h1 class="display-4">Welcome to Fictitious Bank Home Page!</h1>
        <p class="lead"> You can make transcation from here </p>
        <hr class="my-4">
        <button type="button" id="newOpportunity" class="btn btn-primary k-primary pull-right" style="margin-bottom:10px" (click)="addNewPayment($event);">New Payment</button>
    </div>

</div>