<div class="wrapper">
   
  
  <div class="content-center">
    <section class="content-header">
      <h1 class="error-number">500</h1>
      <h2 translate> {{'general.errorMessages.problem'}}</h2>
    </section>
    <section class="content container-fluid">
      <h4 translate>
        {{'general.errorMessages.internalServerError'}}
      </h4>
      <p>
          <a href="" (click)="goHome()" translate>{{'general.errorMessages.takeHome'}}</a>
      </p>
    </section>
  </div>
</div>
<!-- Main Footer -->
<footer class="main-footer" style="margin-left: 0px!important;">
  <div class="text-center hidden-xs" translate>
    {{'general.footer'}}
  </div>
</footer>