################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ICS.EAB/src/ICS.EAB.Web.App/wwwroot
